#smallPortofolio {
    text-align: center;
    font-family: Bitter;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    margin-top: -325px;
}

#bigPortofolio {
    text-align: center;
    font-family: Bitter;
    font-style: normal;
    font-weight: bold;
    font-size: 200px;
    margin-top: 50px;
    
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.column {
    column-count: 3;
    margin-top: 100px;
}

#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50.5%;
}

#name {
    font-family: Bitter;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    padding-top: 25px;
}

.biodata {
    font-family: Bitter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 41px;
    text-align: right;

    vertical-align: middle;
}

.biodata h3 {
    margin: 0;
}

#description {
    padding: 100px 300px 000px 300px;
    text-align: left;
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}

.socialMedia {
    column-count: 2;
    align-content: center;
    justify-items: center;
    margin: 100px 100px 100px 100px ;

    text-align: center;
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

#instagram {
    text-decoration: none;
    color: #000;
    text-align: center;
}

#linkedin {
    text-decoration: none; 
    color: #000;
    text-align: center;
}

#footer {
    text-align: right;
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    #bigPortofolio {
        font-size: 60px;
    }

    #smallPortofolio {
        margin-top: -100px;
        font-size: 40px;
    }

    #description {
        padding: 100px 50px 000px 50px;
    }

    .column {
        column-count: 1;
    }

    #name {
        text-align: center;
    }

    .biodata {
        text-align: center;
        padding-bottom: 50px;
    }

    .socialMedia {
        column-count: 1;
        font-size: 18px;
    }
}